input, select, textarea, submit, button
{
  font-family: inherit;
}

html
{
  height: 100%;
}

html, body
{
  background-color: #000000;
  margin: 0;
  padding: 0;
}

img
{
  filter: grayscale(100%) contrast(100%);
}

td
{
  background-color: white;
  vertical-align: top;
}

a
{
  font-style: italic;
}

a:visited
{
  color: #AAAAAA;
}

#header-container
{
  background-color: #FFFFFF;
  width: 100%;
  z-index: 2;
  position: relative;
  padding: 0;
  margin: 0;
}

#header-bar
{
  background-color: #FFFFFF;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#heading
{
  left: 0;
  width: 30%;
  font-size: 7.75vw;
  font-family: monospace;
}

#banner
{
  width: 100%;
}

#about
{
  width: 40%;
  font-size: 2.3vw;
  font-family: monospace;
  padding-top: 2%;
}

#fixed-header
{
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: monospace;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
}

#fixed-header-bar
{
  background-color: #FFFFFF;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#fixed-banner
{
  height: 5.5vw;
  margin: 0;
  padding: 0;
}

#fixed-heading
{
  font-size: 4vw;
  margin: 0;
  padding: 0;
}

#link-bar
{
  background-color: #FFFFFF;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#link-bar-container
{
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 3.25vw;
  background-color: #FFFFFF;
}

#newsletter-form
{
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 2.5vw;
  color: #000000;
}

#content
{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#zine
{
  text-align: center;

  font-family: monospace;
  font-size: 5vw;
  color: #FFFFFF;
  font-weight: lighter;
}

#gallery
{
  width: 100%;
}

.gallery-image
{
  max-width: 90%;
  max-height: 90%;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}

.gallery-caption
{
  font-weight: bold;
  font-size: 1.75vw;
  font-family: monospace;
  color: #CCCCCC;
  text-align: center;
  vertical-align: top;
}

.link-bar-a
{
  color: #555555;
  font-family: monospace;
  font-style: italic;
}

#fullscreen-background
{
  background-color: #000000CC;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

#fullscreen-image
{
  position: absolute;
  width: 80%;
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  filter: grayscale(0%);
}

.gallery-prompt
{
  color: black;
  font-family: monospace;
  font-size: 1.5vw;
  margin: auto;
  text-align: center;
  width: 100%;
}

.gallery-collection-container
{
  color: white;
  font-family: monospace;
  font-size: 2.5vw;
  text-align: center;
  width: 100%;
}

.gallery-collection-title
{
  font-size: 3vw;
  width: 100%;
  text-decoration: underline;
}

.gallery-collection-caption
{
  font-size: 2.5vw;
  width: 60vw;
  margin: auto;
}

.gallery-collection-date
{
  font-size: 2vw;
  width: 100%;
}

.gallery-zine-container
{
  display: inline-block;
  vertical-align: top;
  margin: 2vw;
  width: auto;
  height: auto;
  border-color: white;
  border-width: 0.25vw;
  border-style: solid;
}

.gallery-zine-title
{
  font-size: 2.5vw;
  color: black;
  background-color: white;
}

.gallery-zine-caption
{
  font-size: 2vw;
  color: black;
  background-color: white;
}

.gallery-zine-cover
{
  position: relative;
  width: 40vw;
  height: 40vw;
  display: table-cell;
  vertical-align: middle;
}

.gallery-zine-cover-image
{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

#fullscreen-background
{
  background: url(images/background.png) no-repeat center center fixed;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

#fullscreen-header
{
  opacity: 1.0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 10vw;
  text-align: center;
  z-index: 11;
  background-color: black;
  color: white;
  font-family: monospace;
}

#fullscreen-exit-button
{
  opacity: 1.0;
  background-color: black;
  background-size: cover;
  position: fixed;
  width: 10vw;
  height: 10vw;
  right: 0;
  top: 0;
  z-index: 15;
  background-image: url("images/cross.png");
}

#fullscreen-title
{
  opacity: 1.0;
  font-size: 3vw;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-decoration: underline;
}

#fullscreen-description
{
  opacity: 1.0;
  font-size: 2.5vw;
  width: 60%;
  margin: auto;
}

#fullscreen-page-description
{
  opacity: 1.0;
  font-size: 2.5vw;
  width: 60%;
  margin: auto;
}

#fullscreen-zine
{
  opacity: 1.0;
  width: 80%;
  height: 80%;
  position: fixed;
  margin: auto;
  top: 10vw;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  perspective-origin: center;
}

#fullscreen-zine-cover
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
	margin-right: auto;
  filter: grayscale(0%);
  z-index: 11;
}

#fullscreen-zine-page-left
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-100%, -50%) scaleX(1) scaleY(1);
  max-width: 50%;
  max-height: 50%;
  margin-left: auto;
	margin-right: auto;
  filter: grayscale(0%);
  z-index: 11;
}

#fullscreen-zine-page-right
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%) scaleX(1) scaleY(1);
  max-width: 50%;
  max-height: 50%;
  margin-left: auto;
	margin-right: auto;
  filter: grayscale(0%);
  z-index: 11;
}

@keyframes turnCover
{
    0%    { transform: translate(-50%, -50%) scaleX(1) scaleY(1); z-index: 12; }
    50%   { transform: translate(-25%, -50%) scaleX(0.5) scaleY(0.5); z-index: 12; }
    100%  { transform: translate(-50%, -50%) scaleX(0) scaleY(0.5); z-index: 12; }
}

.turnFromCover
{
  animation-name: turnCover;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes turnToCover
{
    0%    { transform: translate(-50%, -50%) scaleX(1) scaleY(1); z-index: 12; }
    33%   { transform: translate(-25%, -50%) scaleX(0.5) scaleY(0.5); z-index: 12; }
    66%   { transform: translate(-50%, -50%) scaleX(0) scaleY(0.5); z-index: 12; }
    100%  { transform: translate(-50%, -50%) scaleX(0) scaleY(0.5); z-index: 12; }
}

.turnToCover
{
  animation-name: turnToCover;
  animation-duration: 1.5s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes turnLeftCover
{
    0%    { transform: translate(-50%, -50%) scaleX(0) scaleY(1); z-index: 11; }
    75%   { transform: translate(-50%, -50%) scaleX(0) scaleY(1); z-index: 11; }
    100%  { transform: translate(-100%, -50%) scaleX(1) scaleY(1); z-index: 11; }
}

.turnLeftFromCover
{
  animation-name: turnLeftCover;
  animation-duration: 2.0s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.turnLeftToCover
{
  animation-name: turnLeftCover;
  animation-duration: 2.0s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes turnRightCover
{
    0%    { transform: translate(0%, -50%) scaleX(1) scaleY(1); z-index: 11; }
    100%  { transform: translate(0%, -50%) scaleX(1) scaleY(1); z-index: 11; }
}

.turnRightFromCover
{
  animation-name: turnRightCover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes turnLeftPage
{
    0%    { transform: translate(-100%, -50%) scaleX(1); z-index: 12; }
    100%  { transform: translate(-50%, -50%) scaleX(0); z-index: 12; }
    110%  { transform: translate(-50%, -50%) scaleX(0); z-index: 11; }
}

@keyframes turnToLeftPage
{
    0%    { transform: translate(-100%, -50%) scaleX(1); z-index: 12; }
    50%    { transform: translate(-50%, -50%) scaleX(0); z-index: 12; }
    100%  { transform: translate(-50%, -50%) scaleX(0); z-index: 12; }
    110%  { transform: translate(-50%, -50%) scaleX(0); z-index: 11; }
}

.turnToLeftPage
{
  animation-name: turnToLeftPage;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-direction: reverse;
}

.turnFromLeftPage
{
  animation-name: turnLeftPage;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes turnRightPage
{
    0%    { transform: translate(0%, -50%) scaleX(1); z-index: 12; }
    100%  { transform: translate(-50%, -50%) scaleX(0); z-index: 12; }
    110%  { transform: translate(-50%, -50%) scaleX(0); z-index: 11; }
}

@keyframes turnToRightPage
{
    0%    { transform: translate(0%, -50%) scaleX(1); z-index: 12; }
    50%   { transform: translate(-50%, -50%) scaleX(0); z-index: 12; }
    100%  { transform: translate(-50%, -50%) scaleX(0); z-index: 12; }
    110%  { transform: translate(-50%, -50%) scaleX(0); z-index: 11; }
}

.turnToRightPage
{
  animation-name: turnToRightPage;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-direction: reverse;
}

.turnFromRightPage
{
  animation-name: turnRightPage;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@media screen and (min-width: 800px) {
  #heading
  {
     font-size: 62px;
  }

  #about
  {
    font-size: 18px;
  }

  #fixed-heading
  {
    font-size: 33px;
  }

  #link-bar-container
  {
    font-size: 27px;
  }

  #newsletter-form
  {
    font-size: 20px;
  }

  #zine
  {
    font-size: 20px;
  }

  #gallery-caption
  {
    font-size: 20px;
  }

  .gallery-collection-title
  {
    font-size: 24px;
  }

  .gallery-collection-caption
  {
    font-size: 20px;
    width: 480px;
  }

  .gallery-collection-date
  {
    font-size: 16px;
  }

  .gallery-zine-title
  {
    font-size: 20px;
  }

  .gallery-zine-caption
  {
    font-size: 16px;
  }

  .gallery-zine-cover
  {
    width: 320px;
    height: 320px;
  }

  #fullscreen-header
  {
    height: 80px;
  }

  #fullscreen-exit-button
  {
    width: 80px;
    height: 80px;
  }

  #fullscreen-title
  {
    font-size: 24px;
  }

  #fullscreen-description
  {
    font-size: 20px;
  }

  #fullscreen-zine
  {

  }

  #fullscreen-zine-cover
  {

  }

  #fullscreen-page-description
  {
    font-size: 20px;
  }

  #fullscreen-zine
  {
    top: 80px;
  }
}
